  <footer class="footer">

    <div class="footer-content">

      <div class="footer-section about">

        <h3>TravelGoEasy</h3>
        <p>Your all-in-one travel planner that makes creating and sharing itineraries simple and enjoyable.</p>

        <div class="contact">
          <span><i class="fa fa-map-marker"></i> 123 ABC Street, Singapore 612345</span>
          <span><i class="fa fa-envelope"></i> {{ 'info@travelgoeasy.com' }}</span>
        </div>

      </div>
      
      <div class="footer-section links">

        <h3>Quick Links</h3>
        <ul>
          <li><a [routerLink]="['/Home']"><i class="fa fa-angle-right"></i> Home</a></li>
          <li><a [routerLink]="['all-plans']"><i class="fa fa-angle-right"></i> My Plans</a></li>
          <li><a [routerLink]="['create-plan']"><i class="fa fa-angle-right"></i> Create Plan</a></li>
          <li><a [routerLink]="['/Profile']"><i class="fa fa-angle-right"></i> Profile</a></li>
        </ul>

      </div>
      
      <div class="footer-section contact-form">

        <h3>Stay Updated</h3>
        <p>Subscribe to our newsletter for travel tips and exclusive offers.</p>
        <div class="newsletter-form">
          <input type="email" placeholder="Enter your email">
          <button type="submit">Subscribe</button>
        </div>
      </div>

    </div>
    
    <div class="footer-bottom">
      <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank" class="social-icon">
          <i class="fa fa-facebook"></i>
        </a>
        <a href="https://x.com/" target="_blank" class="social-icon">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="https://www.instagram.com/" target="_blank" class="social-icon">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="https://www.linkedin.com/" target="_blank" class="social-icon">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
      <p>&copy; 2025 TravelGoEasy | All Rights Reserved</p>
    </div>
  </footer>